<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/sakura-earthly.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <style>
        h1, h2, h3, nav {
            text-align: center;
        }
        
        .profile-picture {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            height: auto;
        }

        .technologies-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .technologies-container > a {
            text-decoration: none;
            
        }

        .technologies-container > a > img {
            height: 40px;
            width: auto;
            transition: all 0.3s ease;
        }

        section {
            text-align: center;
        }

        .back-to-top {
            text-align: right;
        }

        .timeline {
            color: gray;
        }

        .is-16x16 {
            width: 16px;
            height: auto;
        }

        .links-container {
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>Thomas Brun - {{ title }}</title>
</head>

<body>
    <main>
        {{ content | safe }}
        <hr>
        <a href="/en/">English</a> | <a href="/fr/">Français</a>
    </main>
    <script src="/assets/js/prism.js"></script>

</html>