{% set currentLangProjects = collections.projets if page.lang == "fr" else collections.projects %}

<ol>
    {% for project in currentLangProjects %}
    <li>
        <strong>
            <a href="{{ "#" if project.data.disabled else project.url }}">
                {{ project.data.title }} {{ "(WIP)" if project.data.disabled }}
            </a>
        </strong>
        &ndash; {{ project.data.description }}
    </li>
    {% endfor %}
</ol>