{% set header = technologies[lang].header %}
{% set subtitle = technologies[lang].subtitle %}
{% set items = technologies.data %}

<section>
    <h2>{{ header }}</h2>
    <strong>{{ subtitle }}</strong>
    <div class="technologies-container">
    {% for item in items %}
        <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="technology-link">
            <img src="{{ item.img_url }}" alt="{{ item.technology }}">
        </a>
    {% endfor %}
</div>
</section>