---
layout: layout.njk
---

{% include "header.njk" %}

<p>
    Je suis un <strong>Développeur Full-Stack</strong> aspirant de l'île Maurice 🦤 basé à Halifax, en Nouvelle-Écosse 🍁. Parle couranmment <strong>l'anglais</strong> et le <strong>français</strong>.
</p>

{% include "technologies.njk" %}