---
locale: fr
layout: layout.njk
---

{% include "header.njk" %}

<p>
    Je suis un <strong>Développeur Full-Stack</strong> aspirant de l'île Maurice 🐢 basé à Halifax, en Nouvelle-Écosse 🍁.
</p>

<section>
    <h2>Voici les Technologies avec lesquelles j'ai de l'expérience:</h2>
    <strong>(clique sur l'un d'entre elles pour en savoir plus 👀)</strong>
    {% include "technologies.njk" %}
</section>