---
locale: en
layout: layout.njk
---

{% set locale = "en" %}

{% include "header.njk" %}

<p>
    Hi! &#128075; I'm Thomas, a <strong>Full-Stack Developer</strong> based in Halifax, Nova Scotia.
</p>

<section>
    <h2>Technologies I have experience with:</h2>
    {% include "technologies.njk" %}
</section>