---
locale: en
layout: layout.njk
---

{% include "header.njk" %}

<p>
    I'm an aspiring <strong>Full-Stack Developer</strong> from the island of Mauritius 🐢 based in Halifax, Nova Scotia 🍁. Fluent in both <strong>English</strong> and <strong>French</strong>.
</p>

{% include "technologies.njk" %}